@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,100..900&display=swap');
@import 'color.scss';

html,
body,
* {
  font-family: 'Roboto Condensed', serif;
  padding: 0;
  margin: 0;
}
